@model Gmax.Models.ViewModels.OrdineCK.OrdineProduzioneCKDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Dettagli Ordine Produzione</h2>

@foreach(var opc in Model.OrdineProdCompCKList)
{
    var formId = string.Join("_", "form", opc.TipoArticolo, opc.CodiceArticolo, opc.NroLancio, opc.NroSottolancio);
    <form
        asp-action="EditInline" 
        id="@formId" 
        class="inlineReceiverForm" 
        data-tipoarticolo="@opc.TipoArticolo" 
        data-codicearticolo="@opc.CodiceArticolo"
        data-nrolancio="@opc.NroLancio"
        data-nrosottolancio="@opc.NroSottolancio"
    ></form>
}

<div class="card bg-light mb-2">
    <div class="card-header fw-bold">Info</div>
    <div class="card-body">
        <div class="row d-flex row-cols-md-5 mb-1">
            <div class="col">
                <div class="form-group">
                    <label asp-for="NroLancio" class="control-label">Num Lancio</label>
                    <input id="NroLancio" value="@Model.NroLancio" class="form-control" style="background-color:white" disabled readonly />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="NroSottolancio" class="control-label">Num Sottolancio</label>
                    <input id="NroSottolancio" value="@Model.NroSottolancio" class="form-control" style="background-color:white" disabled readonly />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="DataCreazione" class="control-label">Data Creazione</label>
                    <input id="DataCreazione" value="@Model.DataCreazione" class="form-control" style="background-color:white" disabled readonly />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="DataPrevCons" class="control-label">Data Prevista Consegna</label>
                    <input id="DataPrevCons" value="@Model.DataPrevCons" class="form-control" style="background-color:white" disabled readonly />
                </div>
            </div>
            
            <div class="col">
                <div class="form-group">
                    <label asp-for="Stato" class="control-label">Stato</label>
                    <input id="Stato" value="@Model.Stato" class="form-control" style="background-color:white" disabled readonly />
                </div>
            </div>
        </div>
        <div class="row d-flex row-cols-md-3 mb-1">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="TipoArtLancio" class="control-label">Tipo Art Lancio</label>
                    <input id="TipoArtLancio" value="@Model.TipoArtLancio" class="form-control" style="background-color:white" disabled readonly />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="CodArtLancio" class="control-label">Cod Art Lancio</label>
                    <input id="CodArtLancio" value="@Model.CodArtLancio" class="form-control" style="background-color:white" disabled readonly />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ArtLancio" class="control-label">Articolo Lancio</label>
                    <input id="ArtLancio" value="@Model.ArtLancio.Descrizione" class="form-control" style="background-color:white" disabled readonly />
                </div>
            </div>
        </div>
    </div>
</div>

<h3>Magazzini articoli</h3>
<table class="table">
    <thead>
        <tr>
            <th>Tipo Articolo</th>
            <th>Codice Articolo</th>
            <th>Descrizione</th>
            <th>Un mis</th>
            @* <th>Qta scorta min</th>
            <th>Cod ubicazione</th>
            <th>Cod costruttore</th>
            <th>Qta imp cliente</th>
            <th>Data inserimento</th> *@
            <th>Quantità</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var opc in Model.OrdineProdCompCKList)
        {
            var ordineProdCompCKVcId = string.Join("_", "opc", opc.TipoArticolo, opc.CodiceArticolo, opc.NroLancio, opc.NroSottolancio);
            <tr id="@ordineProdCompCKVcId">
                <partial name="/Views/Shared/Output/_OrdineProdCompCKInlineOutput.cshtml" model="@opc"></partial>
            </tr>
            @*             var descr = string.Empty;
            if (opc.Articolo != null && !string.IsNullOrWhiteSpace(opc.Articolo?.Descrizione))
            {
                descr = opc.Articolo.Descrizione;
                if(descr.Length > 15)
                {
                    descr = descr.Substring(0, 15);
                }
            }
            <tr>
                <td>@opc.TipoArticolo</td>
                <td>@opc.CodiceArticolo</td>
                <td>@descr</td>
                <td>@opc.Articolo?.UnitaMisuraGestione</td>
                <td>@opc.Assegnazioni?.FirstOrDefault()?.Quantita</td>
                <td><i class="bi bi-check-circle"></i></td>
            </tr> *@
        }
    </tbody>
</table>

<script src="~/js/OrdineProdCompCK/InlineEdit.js"></script>