@model IEnumerable<Gmax.Models.Entities.OrdineProduzioneCK>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtLancio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCreazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPrevCons)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtLancio.TipoArticolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCreazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrevCons)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { numeroLancio = item.NroLancio, numeroSottolancio = item.NroSottolancio }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
