@using Gmax.Models.ViewModels.OrdineCK
@model OrdineProduzioneCKListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Ordini</h1>

<table class="table">
    <thead>
        <tr>
            <th>Num Lancio</th>
            <th>Num Sottolancio</th>
            <th>Stato</th>
            <th>Art Lancio</th>
            <th>Data Creazione</th>
            <th>Data Prev Consegna</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var row in Model.Rows)
        {
            string descr = string.Empty;
            if(row.ArtLancio != null && !string.IsNullOrWhiteSpace(row.ArtLancio.Descrizione))
            {
                descr = row.ArtLancio.Descrizione;
                if (row.ArtLancio.Descrizione.Length > 15)
                {
                    descr = row.ArtLancio.Descrizione.Substring(0, 15);
                }
            }
            <tr>
                <td>@row.NroLancio</td>
                <td>@row.NroSottolancio</td>
                <td>@row.Stato</td>
                <td>@descr</td>
                <td>@row.DataCreazione</td>
                <td>@row.DataPrevCons</td>
                <td>
                    <a asp-action="Details" asp-route-nroLancio="@row.NroLancio" asp-route-nroSottolancio="@row.NroSottolancio"><i class="bi bi-file-text"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
