@using Gmax.Models.ViewModels.OrdineCK
@model OrdineProduzioneCKListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Ordini</h1>

@* @foreach (var item in Model.Rows)
{
    var formId = "form_" + string.Join("_", item.NroLancio, item.NroSottolancio);
    <form asp-action="EditInline" id="@formId" class="inlineReceiverForm" data-nrolancio="@item.NroLancio" data-nrosottolancio="@item.NroSottolancio"></form>
} *@

<table class="table">
    <thead>
        <tr>
            <th>Num Lancio</th>
            <th>Num Sottolancio</th>
            <th>Stato</th>
            <th>Art Lancio</th>
            <th>Data Creazione</th>
            <th>Data Prev Consegna</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var row in Model.Rows)
        {
            @* var ordineProduzioneCKId = "op_" + row.NroLancio + "_" + row.NroSottolancio;
            <tr id="@ordineProduzioneCKId">
                <partial name="/Views/Shared/Output/_OrdineProduzioneCKInlineOutput.cshtml" model="@row"></partial>
            </tr> *@
            string descr = string.Empty;
            if(row.ArtLancio != null && !string.IsNullOrWhiteSpace(row.ArtLancio.Descrizione))
            {
                descr = row.ArtLancio.Descrizione;
                if (row.ArtLancio.Descrizione.Length > 15)
                {
                    descr = row.ArtLancio.Descrizione.Substring(0, 15);
                }
            }
            <tr>
                <td>@row.NroLancio</td>
                <td>@row.NroSottolancio</td>
                <td>@row.Stato</td>
                <td>@descr</td>
                <td>@row.DataCreazione</td>
                <td>@row.DataPrevCons</td>
                <td>
                    <a asp-action="Details" asp-route-nroLancio="@row.NroLancio" asp-route-nroSottolancio="@row.NroSottolancio"><i class="bi bi-file-text"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
